<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 用于存放统计数据的缓存，内存缓存容量10000，LRU，内存+磁盘，不过期 -->
	<bean id="oscache_sta" class="com.me.GCDP.util.oscache.OSCache" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.memory">true</prop>
				<prop key="cache.capacity">10000</prop>
				<prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
				<prop key="cache.unlimited.disk">true</prop>
				<prop key="cache.path">/data/cmpp/cache</prop>
				<prop key="cache.persistence.class">com.opensymphony.oscache.plugins.diskpersistence.HashDiskPersistenceListener</prop>
				<!-- prop key="cache.event.listeners">com.opensymphony.oscache.extra.StatisticListenerImpl</prop-->
			</props>
		</constructor-arg>
		<!-- key前缀 -->
		<constructor-arg index="1">
			<value>cmpp_cachesta_</value>
		</constructor-arg>
		<!-- 过期时间 -->
		<constructor-arg index="2">
			<value>0</value>
		</constructor-arg>
	</bean>

	<!-- 用于存放用户在线信息缓存，内存缓存容量1000，LRU，内存，过期时间:150s -->
	<bean id="oscache_online" class="com.me.GCDP.util.oscache.OSCache" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.capacity">1000</prop>
				<prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
			</props>
		</constructor-arg>
		<!-- key前缀 -->
		<constructor-arg index="1">
			<value>cmpp_online_</value>
		</constructor-arg>
		<!-- 过期时间 -->
		<constructor-arg index="2">
			<value>150</value>
		</constructor-arg>
	</bean>
	
	<!-- 用于存放临时的抓取页面，内存缓存容量10000，LRU，内存，过期时间：600s -->
	<bean id="oscache_snappage" class="com.me.GCDP.util.oscache.OSCache" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.capacity">10000</prop>
				<prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
			</props>
		</constructor-arg>
		<!-- key前缀 -->
		<constructor-arg index="1">
			<value>cmpp_cache_page</value>
		</constructor-arg>
		<!-- 过期时间 -->
		<constructor-arg index="2">
			<value>600</value>
		</constructor-arg>
	</bean>
	
	<!-- 用于存放FormConfig，内存缓存容量200，LRU，内存，过期时间：1200s -->
	<bean id="oscache_formconfig" class="com.me.GCDP.util.oscache.OSCache" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.capacity">200</prop>
				<prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
			</props>
		</constructor-arg>
		<!-- key前缀 -->
		<constructor-arg index="1">
			<value>cmpp_cache_formconfig</value>
		</constructor-arg>
		<!-- 过期时间 -->
		<constructor-arg index="2">
			<value>1200</value>
		</constructor-arg>
	</bean>

</beans>
