<<<<<<< HEAD
/*
checkboxgroup
*/
.checkboxgroup-item  {
	display: inline-block;
    margin-right: 1em;
}
.checkboxgroup-item  * {
    vertical-align: middle;
}

/*
radiogroup
*/
.radiogroup-item {
	display: inline-block;
    margin-right: 1em;
}
.radiogroup-item  * {
    vertical-align: middle;
}

=======
/*
checkboxgroup
*/
.checkboxgroup-item  {
	display: inline-block;
    margin-right: 1em;
}
.checkboxgroup-item  * {
    vertical-align: middle;
}

/*
radiogroup
*/
.radiogroup-item {
	display: inline-block;
    margin-right: 1em;
}
.radiogroup-item  * {
    vertical-align: middle;
}

>>>>>>> 2bc3b6021afb4e6e01b52e3e266049ff763910c3
